
/*MAIN SECTIONS*/

body {
  background-color: #76828E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: normal;
}

#header {
  padding: 50px 20% 50px 20%;
  margin: 0;
  background-color: #1B2F43;
  border-bottom: solid 10px #FFD700;
}

#search-row {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  background-color: #76828E;
  text-align: center;
}

#recents-row {
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
  background-color: #76828E;
}

#results-row {
  background-color: #76828E;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  color: #444;
}

/*BUTTONS AND INPUT FIELDS*/

.button {
  background-color: #BAC0C6;
  border: 3px solid #1B2F43;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #1B2F43;
  font-size: 14px;
}

.button:hover {
  background-color: #1B2F43;
  border-color: #1B2F43;
  color: #FFD700;
}

#gif-input {
  background-color: #E8EAEC;
  border: 3px solid #1B2F43;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  width: 80%;
  max-width: 600px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #1B2F43;
  font-size: 14px;
}

#gif-search {
  background-color: #1B2F43;
  border-color: #1B2F43;
  color: #FFD700;
}

#gif-search:hover {
  opacity: 0.8;
}

#gif-search:disabled {
  color: #1B2F43;
  background-color: #76828E;
  border: 3px solid #1B2F43;
}

#gif-search:disabled:hover {
  opacity: 1;
}

#recents-buttons li {
  display: inline-block;
}

/*TEXT AND IMAGES*/

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #1B2F43;
  line-height: normal;
}

p {
  font-size: 16px;
}

#recents-title {
  visibility: hidden;
}

#gif-results li {
  display: inline-block;
  margin: 0 10px 40px 10px;
  border: 3px solid #1B2F43;
}

#gif-results li img {
  height: 150px;
}

/*STICKY FOOTER*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px 0;
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-top: 50px;
  background-color: #1B2F43;
  border-top: solid 10px #FFD700;
  color: #FFD700;
}
